<div class="col-md-offset-2 col-md-8">
  <div class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">          
        <div class="h1"></div>
      </div>
    </div>
  </div>
  <div id="container" class="checkout container">                        
    <div class="row">
      <div class="col-sm-7" id="checkout_info">
        <%= form_for @customer, as: :customer, url: customers_subscription_without_card_path, method: :post, html: {id: "subscribe-form"} do |f| %>
        <h3 class="page-header">Tell us about yourself</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="customer[first_name]">First Name</label>
              <input type="text" class="form-control" name="customer[first_name]" 
              maxlength=50 required data-msg-required="cannot be blank">
              <small for="customer[first_name]" class="text-danger"></small>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="customer[last_name]">Last Name</label>
              <input type="text" class="form-control" name="customer[last_name]" 
              maxlength=50 required data-msg-required="cannot be blank">
              <small for="customer[last_name]" class="text-danger"></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="customer[email]">Email</label>
              <input id="email" type="text" class="form-control" name="customer[email]" maxlength=50
              data-rule-required="true" data-rule-email="true" 
              data-msg-required="Please enter your email address" 
              data-msg-email="Please enter a valid email address">
              <small for="customer[email]" class="text-danger"></small>
            </div>
          </div> 
          <div class="col-sm-6">
            <div class="form-group">
              <label for="customer[phone]">Phone</label>
              <input id="phone" type="text" maxlength="10" class="form-control" name="customer[phone]" 
              maxlength=50 required data-msg-required="cannot be blank">
              <small for="customer[phone]" class="text-danger"></small>
            </div>
          </div>                   
        </div>
        <hr>
        <div class="form-inline">                         
          <p><small class="text-danger" style="display:none;">There were errors while submitting</small></p>
          <div class="form-group">
            <input id="submit-btn" type="submit" class="btn btn-success btn-lg pull-left" value="Sign Up">&nbsp;&nbsp;
          </div>
          <div class="form-group">
            <%= link_to 'Cancel', customers_path %>
          </div>&nbsp;&nbsp;
            <span class="subscribe-process process" style="display:none;">Processing&hellip;</span>
            <small class="alert-danger text-danger"></small>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>